<!DOCTYPE html>
<html xmlns:th = "http://www.tymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do App-Login</title>

    <!-- Font Icon -->
   <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <!--Icon-->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/TodoIcon.png}">
    <!-- Main css -->
 	<link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <!-- Sing in  Form -->
<div class="main">
    <section class="sign-in" >
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="img/TodoLogo.png" alt="sing up image"></figure>
                    <a href="/" th:href="@{/Register}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form class="register-form" id="login-form" th:action="@{/Login}" method="post">
                    	
                    	<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
						</div>
                    	
                    	<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
						</div>
                    	
                       <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                               	<input type="text" class = "form-control" id ="username" name = "username" placeholder="Your Email" autofocus="autofocus">
                            </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                           <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
                        </div>
                        <div class="form-group form-button"> 
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
    </section>
</div>


</body>
