<!DOCTYPE html>
<html xmlns:th = "http://www.tymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>To-Do List-List</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <!-- Bootstrap CSS CDN -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styleHomepage.css}">
    <link rel="stylesheet" th:href="@{/css/todo.css}">
   
  
        <!--Icon-->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/TodoIcon.png}">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>To-Do App</h3>
                <strong><i><img src="img/TodoLogo.ico" 
                style=" background-color: white; height: 72px;
                    width: 93px;
                    margin-left: -20px;
                    background-color: white;
                    border-radius: 25px;"></i></strong>
                <hr style="background-color:white; height: 2px;">
            </div>

            <ul class="list-unstyled components" style="margin-top: -47px; margin-left: 10px;">
                <li>
                    <a th:href="@{HomePage}" href="HomePage.html">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a th:href="@{ToDoList}" href="ToDoList.html">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        My To-Do List
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Settings
                    </a>
                    <ul class="collapse list-unstyled " id="pageSubmenu">
                        <li>
                            <a th:href="@{Profile}" href="Profile.html">Profile</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" onclick="Signout()" style="cursor: default;">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                        Sign out
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </button> 
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <img src="img/TodoLogo.png" style="margin-top: -75px; margin-bottom: -75px;">
                        </ul>
                    </div>
                </div>
            </nav>
     
            <h2>My To-Do List :</h2>
            <hr style="background-color: #52c8fa; height: 2px;">
            <div id="myDIV" class="header">
                <input type="text" id="myInput" placeholder="Name...">
                <input type="text" id="myInput" placeholder="Description...">
                <abbr title="Deadline"><input type="date" id="myInput"></abbr> 
                <abbr title="Associate">
                <select class="dropMenu form-control">
                    <option selected>None</option>
                    <option></option>
                </select></abbr>
                <select class="dropMenu form-control">
                    <option>Complete</option>
                    <option selected>Process</option>
                    <option >Expired</option>
                </select>
                <span onclick="newElement()" class="addBtn">Add</span>
              </div> 
              <div class="of">
               
                </select></abbr>

                <!-- Search form -->
                <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" style="margin-top: 10px; margin-left: 1295px;">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Filter"
                    aria-label="Search">
                    <img src="img/search-24px.svg" style="margin-top: 4px;">
                </form>
              </div>  
              <table class="table table-striped" style="margin-top: 10px; font-size: 18px;" >
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Status
                        <select class="dropMenu form-control" style="width: 5px; height: 30px;">
                            <option selected>All</option>
                            <option>Complete</option>
                            <option >Process</option>
                            <option >Expired</option>
                        </select>
                    </th>
                    <th scope="col">Associate</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>sdfsd</td>
                    <td>dsad</td>
                    <td>13.25.20</td>
                    <td>complete</td>
                    <td>None</td>
                    <td><img src="img/update-24px.svg"></td>
                    <td><img src="img/disabled_by_default-24px.svg"  onclick="Delete()"></td>
                    </tr>
                    
                </tbody>
                </table>
        </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        
        // Create a "close" button and append it to each list item
        var myNodelist = document.getElementsByTagName("LI");
        var i;
        for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close1";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
        }

        // Click on a close button to hide the current list item
        var close = document.getElementsByClassName("close1");
        var i;
        for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
        }
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    <script>
    function Signout() {
        swal("Are you sure you want to sign out?", {
         buttons: ["No", "Yes"],

    });
    }
    function Delete() {
                swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                });
    }
    </script>
</body>


    